<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/styles.css" type="text/css"/>
</head>

<body>
  <% include partials/nav.ejs %>
    <div class="container-fluid">
      <h1>ABOUT</h1>
      <p>This website belongs to software company.</p>

    </div>


</body>

</html>
