<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    body {
      background-color: lightblue;
    }

    h1 {
      color: white;
      text-align: center;
      font-size: 40px;
    }

    p {
      font-family: verdana;
      font-size: 20px;
      text-align: center;
    }
  </style>

</head>

<body>
  <% include partials/nav.ejs %>
  <div class="container-fluid">
    <h1>Welcome to the Best website</h1>
    <p>This website is still undercostruction.</p>

  </div>


</body>

</html>
