<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/styles.css" type="text/css"/>
</head>

<body>
  <% include partials/nav.ejs %>
    <div class="container-fluid">
      <h1>Welcome to the Student Page</h1>
      <p>You are on Student profile
        <%= student %>.</p>
      <p> <strong>Age: </strong>
        <%= data.age %>
      </p>
      <p> <strong>Department: </strong>
        <%= data.department %>
      </p>
      <h3>Subjects</h3>
      <ul>
        <% data.subjects.forEach((subject) => { %>
          <li>
            <%= subject %>
          </li>
          <% }); %>
      </ul>

    </div>


</body>

</html>
